
@media (min-width: 320px) and (max-width: 575.98px) { 
	
body{
    padding: 0 12px;
}
/* ====================nav start============================== */
.navbar img {
        width: 130px;
    }

    .navbar .navbar-nav {
        row-gap: 8px;
        
    }
    .navbar .navbar-nav button {
        padding: 8px 11px;
        margin-left: 0;
    }

    .navbar-light .navbar-toggler {
        border: 0;
        color: black;
    }

    button:focus:not(:focus-visible) {
        box-shadow: none;
    }


/* ====================nav end============================== */
/* ====================Banner start============================== */
#Banner_part .left {
	padding: 70px 0 12px;
}

#Banner_part .left p {
	color: #080808;
	font-size: 18px;
	text-align: center;
}
#Banner_part .left h1 {
	margin-top: 0px;
	width: auto;
	font-size: 30px;
	text-align: center;
}
#Banner_part .left h2 {
	margin: 0 12px 0;
	width: auto;
	font-size: 17px;
	line-height: 90%;
	text-align: center;
}

#Banner_part .left button {
	margin-top: 16px;
	font-size: 12px;
	padding: 10px 12px;
}
	
#Banner_part .left .banner_btn{
    text-align: center;
}
	

#Banner_part .right {
	padding: 0;
}


/* ====================Banner end============================== */
/* ====================skill Start============================== */
#Skills_part {
	padding-top: 60px;
}

#Skills_part p {
	text-align: center;
    font-size: 16px;
}

#Skills_part h2 {
	text-align: center;
	font-size: 28px;
	margin-top: -6px;
}
#Skills_part .box {
	width: auto;
	margin-top: 20px;
}

#Skills_part .text h3 {
	width: auto;	
	font-size: 22px;
}
#Skills_part .text p {
	width: auto;		
	font-size: 16px;
	line-height: 115%;
}
#Skills_part .text {
	padding: 10px;
}
/* ====================skill end============================== */
/* ====================About start============================== */
#about_part {
	padding-top: 70px;
}

#about_part .right {
	padding: 30px 12px 60px;
}
#about_part .right h2 {
	font-size: 38px;
	text-align: center;
}
#about_part .right h3 {
	margin-top: 16px;
	width: auto;
	font-size: 20px;
	line-height: 110%;
    text-align: center;
}

#about_part .right h4 {
	margin-top: 20px;
	width: auto;
	font-size: 18px;
	line-height: 110%;
    text-align: center;
}

/* ====================About end============================== */
/* ====================Portfolio start============================== */
#Portfolio_part {
	padding: 20px 0;
}

#Portfolio_part .top {
	text-align: center;
}

#Portfolio_part .top .left h2 {
	font-size: 40px;	
}
#Portfolio_part .bottom {
	margin-top: 30px;
}
#Portfolio_part .main {
	display: flex;
	align-items: center;
	padding: 3px;
	background: #E62872;
	border-radius: 8px;
	width: 150px;
	margin: 0 auto;
}
#Portfolio_part .bottom .text {
	padding: 14px;
	text-align: center;
}
#Portfolio_part .bottom .text h3 {
	margin-top: 8px;
	width: auto;	
	font-size: 18px;
	line-height: 130%;
}

#Portfolio_part .bottom .box {
	margin-top: 24px;

}


/* ====================Portfolio end============================== */
/* ==================== testimonials  start======================= */
#testimonials_part {
	padding: 40px 0;
	text-align: center;
}
#testimonials_part p{
    margin: 0;	
}

#testimonials_part h2 {
	font-size: 26px;
    margin: 0;	
}
#testimonials_part .box {
	margin-top: 30px;
    row-gap: 30px;
}

#testimonials_part h6 {
	margin-top: 10px;
	width: auto;
	font-size: 16px;
	line-height: 100%;
}
#testimonials_part .client img{
    width: 70px;
 }
 #testimonials_part .client h4 {
	font-size: 12px;
	margin: 0;
}
#testimonials_part .client p {
	font-size: 16px;
}
/* ==================== testimonials  end============================ */
/* ====================  Contact start============================== */
#Contact_part {
	padding: 30px 0;
}

#Contact_part p {
	font-size: 16px;	
	margin: 0;
}

#Contact_part h2 {
	font-size: 30px;
}

#Contact_part h3 {
	font-size: 16px;
}
#Contact_part .box input {
	width: 280px;
	margin-top: 16px; 
	padding: 10px 20px;
	font-size: 10px;
}

#Contact_part .box button {
	padding: 6px 18px;
	font-size: 18px;
}


/* ====================  Contact end============================== */
/* ====================  footer  start============================== */
#footer_part .container {
	padding: 20px 0 44px;
    text-align: center;
}

#footer_part .two{
    text-align: center;
    column-gap: 0;
}

#footer_part ul{
    margin-top: 36px;
	flex-direction: column;
    align-items: center;
}
#footer_part .f_icon {
	column-gap: 20px;
	justify-content: space-around;
	margin-top: 20px;
}
#footer_part h6 {
	padding: 16px;
	text-align: center;
	border-top: 2px solid #be4b78;
	font-size: 20px;
}
/* ====================  footer  end============================== */

}
@media (min-width: 576px) and (max-width: 767.98px) { 
	
body{
    padding: 0 12px;
}
/* ====================nav start============================== */
.navbar img {
        width: 130px;
    }

    .navbar .navbar-nav {
        row-gap: 8px;
        
    }
    .navbar .navbar-nav button {
        padding: 8px 11px;
        margin-left: 0;
    }

    .navbar-light .navbar-toggler {
        border: 0;
        color: black;
    }

    button:focus:not(:focus-visible) {
        box-shadow: none;
    }


/* ====================nav end============================== */
/* ====================Banner start============================== */
#Banner_part .left {
	padding: 70px 0 12px;
}

#Banner_part .left p {
	color: #080808;
	font-size: 18px;
	text-align: center;
}
#Banner_part .left h1 {
	margin-top: 0px;
	width: auto;
	font-size: 30px;
	text-align: center;
}
#Banner_part .left h2 {
	margin: 0 12px 0;
	width: auto;
	font-size: 17px;
	line-height: 90%;
	text-align: center;
}

#Banner_part .left button {
	margin-top: 16px;
	font-size: 12px;
	padding: 10px 12px;
}
	
#Banner_part .left .banner_btn{
    text-align: center;
}
	

#Banner_part .right {
	padding: 36px;
}


/* ====================Banner end============================== */
/* ====================skill Start============================== */
#Skills_part {
	padding-top: 60px;
}

#Skills_part p {
	text-align: center;
	font-size: 26px;
}

#Skills_part h2 {
	text-align: center;
	font-size: 38px;
	margin-top: -6px;
}
#Skills_part .box {
	width: auto;
	margin-top: 20px;
}

#Skills_part .text h3 {
	width: auto;	
	font-size: 36px;
}
#Skills_part .text p {
	width: auto;
	font-size: 22px;
	line-height: 126%;
}
#Skills_part .text {
	padding: 70px;
}
/* ====================skill end============================== */
/* ====================About start============================== */
#about_part {
	padding-top: 70px;
}

#about_part .right {
	padding: 70px 12px 60px;
}
#about_part .right h2 {
	font-size: 38px;
	text-align: center;
}
#about_part .right h3 {
	margin-top: 16px;
	width: auto;
	font-size: 20px;
	line-height: 114%;
    text-align: center;
}

#about_part .right h4 {
	margin-top: 20px;
	width: auto;
	font-size: 18px;
	line-height: 114%;
    text-align: center;
}

/* ====================About end============================== */
/* ====================Portfolio start============================== */
#Portfolio_part {
	padding: 20px 0;
}

#Portfolio_part .top {
	text-align: center;
}
#Portfolio_part .top .left p {
	color: #080808;
	font-family: robato;
	font-size: 26px;
	line-height: 150%;
	font-weight: 600;
	margin: 0;
}
#Portfolio_part .top .left h2 {
	font-size: 44px;	
}

#Portfolio_part .main {
	display: flex;
	align-items: center;
	padding: 14px;
	background: #E62872;
	border-radius: 10px;
	margin: 0 auto;
	width: 260px;
	
}
#Portfolio_part .bottom {
	margin-top: 44px;
}
#Portfolio_part .bottom .text {
	padding: 14px;
	text-align: center;
}
#Portfolio_part .bottom .text h3 {
	margin-top: 8px;
	width: auto;	
	font-size: 18px;
	line-height: 130%;
}

#Portfolio_part .bottom .box {
	margin-top: 44px;
}


/* ====================Portfolio end============================== */
/* ==================== testimonials  start======================= */
#testimonials_part {
	padding: 76px 0;
	text-align: center;
}
#testimonials_part p{
    margin: 0;	
}
#testimonials_part p {
	color: #030303;
	font-family: robato;
	font-size: 25px;
	line-height: 150%;
	font-weight: 600;
}
#testimonials_part h2 {
	font-size: 32px;
	margin: 0;
}
#testimonials_part .box {
	margin-top: 30px;
    row-gap: 30px;
}
#testimonials_part .text {
	padding: 64px;
	border: 1px solid #006B6A;
	border-radius: 8px;
}
#testimonials_part h6 {
	margin-top: 14px;
	width: auto;
	font-size: 22px;
	line-height: 112%;
}
#testimonials_part .client {
	margin-top: 42px;
	column-gap: 22px;
	align-items: center;
	display: flex;
	justify-content: center;
}
#testimonials_part .client img{
    width: 70px;
 }
 #testimonials_part .client h4 {
	font-size: 16px;
	margin: 0;
}
#testimonials_part .client p {
	font-size: 20px;
}
#testimonials_part .box {
	margin-top: 30px;
	row-gap: 40px;
}
/* ==================== testimonials  end============================ */
/* ====================  Contact start============================== */
#Contact_part {
	padding: 30px 0;
}

#Contact_part p {
	font-size: 16px;	
	margin: 0;
}
#footer_part ul li a {
	display: flex;
	column-gap: 24px;
	color: #080808;
	font-size: 24px;
	font-weight: 700;
}
#Contact_part h2 {
	font-size: 30px;
}

#Contact_part h3 {
	font-size: 16px;
}
#Contact_part .box input {
	width: 280px;
	margin-top: 16px; 
	padding: 10px 20px;
	font-size: 10px;
}

#Contact_part .box button {
	padding: 6px 18px;
	font-size: 18px;
}


/* ====================  Contact end============================== */
/* ====================  footer  start============================== */
#footer_part .container {
	padding: 20px 0 44px;
    text-align: center;
}

#footer_part .two{
    text-align: center;
    column-gap: 0;
}

#footer_part ul{
    margin-top: 36px;
	flex-direction: column;
    align-items: center;
}
#footer_part .f_icon {
	column-gap: 20px;
	justify-content: space-around;
	margin-top: 20px;
}
#footer_part h6 {
	padding: 16px;
	text-align: center;
	border-top: 2px solid #be4b78;
	font-size: 20px;
}
/* ====================  footer  end============================== */

}
@media (min-width: 768px) and (max-width: 991.98px) { 
	
body{
    padding: 0 12px;
}
/* ====================nav start============================== */
.navbar img {
        width: 160px;
    }

    .navbar .navbar-nav {
        row-gap: 9px;
        
    }
    .navbar .navbar-nav button {
        padding: 8px 11px;
        margin-left: 0;
    }

    .navbar-light .navbar-toggler {
        border: 0;
        color: black;
    }

    button:focus:not(:focus-visible) {
        box-shadow: none;
    }


/* ====================nav end============================== */
/* ====================Banner start============================== */
#Banner_part .left {
	padding: 70px 0 12px;
}

#Banner_part .left p {
	color: #080808;
	font-size: 20px;
	text-align: center;
}
#Banner_part .left h1 {
	margin-top: 0px;
	width: auto;
	font-size: 32px;
	text-align: center;
}
#Banner_part .left h2 {
	margin: 0 12px 0;
	width: auto;
	font-size: 19px;
	line-height: 90%;
	text-align: center;
}

#Banner_part .left button {
	margin-top: 16px;
	font-size: 14px;
	padding: 10px 12px;
}
	
#Banner_part .left .banner_btn{
    text-align: center;
}
	

#Banner_part .right {
	padding: 40px;
}


/* ====================Banner end============================== */
/* ====================skill Start============================== */
#Skills_part {
	padding-top: 60px;
}

#Skills_part p {
	text-align: center;
	font-size: 26px;
}

#Skills_part h2 {
	text-align: center;
	font-size: 38px;
	margin-top: -6px;
}
#Skills_part .box {
	width: auto;
	margin-top: 20px;
}

#Skills_part .text h3 {
	width: auto;
	font-size: 40px;
}
#Skills_part .text p {
	width: auto;
	font-size: 28px;
	line-height: 126%;
}
#Skills_part .text {
	padding: 105px;
}
/* ====================skill end============================== */
/* ====================About start============================== */
#about_part {
	padding-top: 110px;
}

#about_part .right {
	padding: 70px 12px 60px;
}
#about_part .right h2 {
	font-size: 40px;
	text-align: center;
	margin-top: 60px;
}
#about_part .right h3 {
	margin-top: 16px;
	width: auto;
	font-size: 24px;
	line-height: 114%;
    text-align: center;
}

#about_part .right h4 {
	margin-top: 20px;
	width: auto;
	font-size: 22px;
	line-height: 114%;
    text-align: center;
}

/* ====================About end============================== */
/* ====================Portfolio start============================== */
#Portfolio_part {
	padding: 20px 0;
}

#Portfolio_part .top {
	text-align: center;
}
#Portfolio_part .top .left p {
	color: #080808;
	font-family: robato;
	font-size: 30px;
	line-height: 150%;
	font-weight: 600;
	margin: 0;
}
#Portfolio_part .top .left h2 {
	font-size: 46px;
	margin-bottom: 20px;	
}

#Portfolio_part .main {
	display: flex;
	align-items: center;
	padding: 14px;
	background: #E62872;
	border-radius: 10px;
	margin: 0 auto;
	width: 280px;
	
}
#Portfolio_part .bottom {
	margin-top: 44px;
}
#Portfolio_part .bottom .text {
	padding: 44px;
	text-align: center;
}
#Portfolio_part .bottom .text h2 {
	color: #030303;
	font-family: robato;
	font-size: 42px;
	line-height: 140%;
	font-weight: 700;
}
#Portfolio_part .bottom .text h3 {
	margin-top: 8px;
	width: auto;	
	font-size: 30px;
	line-height: 130%;
}

#Portfolio_part .bottom .box {
	margin-top: 44px;
}

#Portfolio_part .bottom .text button {
	margin-top: 32px;
	border: 0;
	background: #ffffff;
	color: #030303;
	font-family: robato;
	font-size: 24px;
	line-height: 150%;
	font-weight: 600;
}
/* ====================Portfolio end============================== */
/* ==================== testimonials  start======================= */
#testimonials_part {
	padding: 76px 0;
	text-align: center;
}
#testimonials_part p{
    margin: 0;	
}
#testimonials_part p {
	color: #030303;
	font-family: robato;
	font-size: 25px;
	line-height: 150%;
	font-weight: 600;
}
#testimonials_part h2 {
	font-size: 32px;
	margin: 0;
}
#testimonials_part .box {
	margin-top: 30px;
    row-gap: 30px;
}
#testimonials_part .text {
	padding: 90px;
	border: 1px solid #006B6A;
	border-radius: 8px;
}
#testimonials_part h6 {
	margin-top: 14px;
	width: auto;
	font-size: 26px;
	line-height: 112%;
}
#testimonials_part .client {
	margin-top: 42px;
	column-gap: 22px;
	align-items: center;
	display: flex;
	justify-content: center;
}
#testimonials_part .client img {
	width: 94px;
}
 #testimonials_part .client h4 {
	font-size: 20px;
	margin: 0;
}
#testimonials_part .client p {
	font-size: 26px;
}
#testimonials_part .box {
	margin-top: 30px;
	row-gap: 40px;
}
/* ==================== testimonials  end============================ */
/* ====================  Contact start============================== */
#Contact_part {
	padding: 30px 0;
}

#Contact_part p {
	font-size: 24px;
	margin: 0;
}
#footer_part ul li a {
	display: flex;
	column-gap: 24px;
	color: #080808;
	font-size: 24px;
	font-weight: 700;
}
#Contact_part h2 {
	font-size: 38px;
}

#Contact_part h3 {
	font-size: 20px;
}
#Contact_part .box input {
	width: 280px;
	margin-top: 16px;
	padding: 10px 20px;
	font-size: 18px;
}
#Contact_part .box button {
	padding: 6px 18px;
	font-size: 18px;
}


/* ====================  Contact end============================== */
/* ====================  footer  start============================== */
#footer_part .container {
	padding: 20px 0 44px;
    text-align: center;
}

#footer_part .two{
    text-align: center;
    column-gap: 0;
}
#footer_part .f_icon i {
	font-size: 44px;
	color: #080808;
}
#footer_part ul{
    margin-top: 36px;
	flex-direction: column;
    align-items: center;
}
#footer_part .f_icon {
	column-gap: 20px;
	justify-content: space-around;
	margin-top: 20px;
}
#footer_part h6 {
	padding: 16px;
	text-align: center;
	border-top: 2px solid #be4b78;
	font-size: 20px;
}
#footer_part span {
	color: rgb(218, 62, 62);
	font-weight: 700;
	font-size: 26px;
}
/* ====================  footer  end============================== */

}
